div.OpenAIRE div.index {
    height: 100%;
    padding: 2px;
    float: left;
    position: relative;
    left: 1.5em;
}

div.OpenAIRE div.metadata {
    height: 100%;
    float: left;
    border-style : none none none solid;
    border-width : medium medium medium 2em;
    border-left-color : #FFC0C0;
    padding-left : 2em;
}

div.OpenAIRE div.header {
    height: 100%;
}

div.clear {
    clear: both;
}

div.OpenAIRE .error {
    background-color: #FFC0C0;
}

div.OpenAIRE .warning {
    background-color: #FFFFC0;
}

div.OpenAIRE .ok {
    background-color: #C0FFC0;
}


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
}

span.tooltip {
    border-bottom: 1px dotted;
    cursor: pointer;
}

div.selectedproject, div.file {
    display: inline;
    border-bottom: 1px dotted;
    cursor: pointer;
}
